@using System.Text
@using Microsoft.AspNet.Identity
@model CourseManagementSystem.Models.Lesson
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<ul class="breadcrumb" style="background-color: white; padding-bottom:0px; margin-bottom:7px;">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink(Model.Course.Name, Model.Course.UserId == User.Identity.GetUserId() ? "Edit" : "Details", "Course", new { id = Model.CourseId }, null)</li>
    <li class="active">@Model.Name</li>
</ul>

<h2>@Model.Name</h2>


<hr style="margin-top:0px;"/>
@if (Model.Text != "")
{
    @Html.Raw(Model.Text)
}
@if (Model.File != null)
{


   <iframe src="~/Pdf.aspx?pdfId=@Model.PdfFileId" style="width: 100%; height: 700px"></iframe>
   
}
<hr/>
@if (Model.Course.Activated)
{
    <p>
        When you are ready you can answer some @Html.ActionLink("Questions", "Test", "Lesson", new {lessonId = Model.LessonID}, null) according to this lesson.
    </p>
}
<p>
    If you have questions on lesson material you can go to @Html.ActionLink("Lesson forum", "Forum", "Lesson", new { lessonId = Model.LessonID }, null) and discuss them with other students or lecturer of this course.
</p>
<p>
    If you have questions that relate to the course in general you can ask them in @Html.ActionLink("Course forum", "Forum", "Course", new { courseId = Model.CourseId }, null).
</p>
<hr />
<h3>Additional materials</h3>

@if (Model.VideoLink != "")
{
    var link = "https://www.youtube.com/embed/" + Model.VideoLink;

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="embed-responsive embed-responsive-16by9" style="margin-top: 20px;">
            <iframe class="embed-responsive-item" src="@link" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
}

<br style="clear: both;">
