@using System.Web.Optimization
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-space.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
   
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action( "Index", "Home")">CMS</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action( "Subscriptions", "Users", new { id = User.Identity.GetUserId() })">My subscriptions</a>

                            </li>
                            <li>
                                <a href="@Url.Action( "Hostings", "Users", new { id = User.Identity.GetUserId() })">My courses</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Edit", "Users", new { id = User.Identity.GetUserId() })">Edit</a></li>
                                    <li><a href="@Url.Action("Delete", "Users", new { id = User.Identity.GetUserId()})">Delete</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("LogOut", "Account")">Log Out</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {



                            <li>
                                @Html.ActionLink("Log in", "LogIn", "Account", new { returnUrl = Request.Url }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Sign up", "Register", "Account")
                        </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

        <hr />

        <footer>

            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

        </footer>

    </div>
</body>
</html>