@model CourseManagmentSystem.Models.LessonViewModel

<form method="post" id="createLesson" >
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LessonViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.CourseId, new { id = "id" })


        <div class="form-group">
            @Html.LabelFor(model => model.VideoLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoLink, new { htmlAttributes = new { @class = "form-control", id = "videoLink" } })
                @Html.ValidationMessageFor(model => model.VideoLink, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TxtFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TxtFile, new { type = "file", id = "fileTxt" })
                @Html.ValidationMessageFor(model=> model.TxtFile,"You can only upload TXT/MD", new {id = "validateTxtFile", style = "display:none" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PdfFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PdfFile, new { type = "file", id = "filePdf" })
                @Html.ValidationMessageFor(model => model.PdfFile,"You can only upload PDF",new {id="validatePdfFile", style="display:none"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<script>
    $("#createLesson")
        .submit(() => {
            alert("submitted");
            var model = new FormData($("#createLesson")[0]);
                $.ajax({
                url: "/Lesson/Create",
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data
                data: model,
                success: (response) => {
                    if (response === "no files") {
                        alert("At least one file is required");
                    }
                    else if (response === "wrong extensions") {
                        $("#validateTxtFile").show();
                        $("#validatePdfFile").show();
                    }
                    else {
                        $("#lessonEditList").append(response);
                        $("#createLesson")[0].reset();
                    }
                }
        });
            return false;
        });
          

      
</script>
