@model CourseManagementSystem.Models.QuestionAnswer

@{
    var identificator = "CheckQuestionAnswer" + Model.QuestionAnswerId;
}
<div id ="@identificator" class="panel panel-primary" style="margin:5px;">
    <div class="panel-body">
        @using (Ajax.BeginForm("Check", "QuestionAnswer", null, new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = identificator
        }))
        {
            @Html.HiddenFor(model => model.EnrollmentID)
            @Html.HiddenFor(model => model.LessonID)
            @Html.HiddenFor(model => model.QuestionAnswerId)
            <div class="form-group" style="margin-bottom: 13px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                    <b>@Model.Question</b>
                    @Html.HiddenFor(model => model.Question)
                    <b style="float: right;">@Model.Enrollment.User.Name</b>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label for="qweqwe" style="font-weight: normal">@Model.Answer </label>
                    @Html.HiddenFor(model => model.Answer)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Mark, new { placeholder = "Enter a mark..." })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info" style="margin: 0px">Submit</button>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>